# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Environment
.env
